  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
  }

  input {
    border-radius: 10px; 
}

  #div0{     
   background-color: lightgray;
}

.div1{ 
    height: 50px;
   
}

#div2{ 
    height: 100px;      
}

#div3{ 
    margin-right: 10px;    
}

.em {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18pt;
    font-style:normal;
    color: #f44f1d;
   }

  .img {
    display: block;
    margin-left: auto;
    margin-right: auto;    
  }

  .wrapper {
      margin-left: 50px;
      margin-right: 50px;
  }
  
 * {
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    padding: 15px;
  }
  
 html {
    font-family: "Lucida Sans", sans-serif;
  }
 
  